/* Font styles */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */

/* Banner styles */
.header{
  background-image: url('../images/Hero-bg.png');
  background-repeat: no-repeat;
  background-size:cover;
  /* height:698px; */
}
.header nav ul{
  list-style:none;
  display:flex;
  justify-content:space-between;
}
.banner-logo{
  font-size:34px;
  font-weight:900;
  color:#4E47FF;
}
.btn-header{
  font-size:16px;
  font-weight: bold;
  color:#FFFFFF;
  background-color: #4E47FF;
  border:none;
  border-radius:10px;
  padding:12px 36px;
}
.btn-header:hover{
  cursor: pointer;
  color:blue;
  background-color: brown;
}
.btn-stay-focused{
  font-size:16px;
  font-weight: bold;
  color:#FFFFFF;
  background-color: #4E47FF;
  border:none;
  border-radius:10px;
  padding:12px 36px;
  margin-left:633px;
  margin-right:633px;
  margin-bottom:152px;
}
.btn-stay-focused:hover{
  cursor: pointer;
  color:chartreuse;
  background-color:crimson;
}
.header nav{
  padding-top:50px;
  padding-left:150px;
  padding-right:150px;
}
.header-title{
  font-size: 65px;
  font-weight:bold;
  text-align:center;
  margin-top:208px;
  margin-left:267.5px;
  margin-right:267.5px;
}

 /* Action styles */
  .action-items{
    display: flex;
    gap:220px;
    justify-content:space-around;
    align-items:center;
    margin:116px 160px 116px 141px;
  }
.acton-title{
  font-size:42px;
  font-weight:bold;
  color:#292432;
 }
 .action-subtitle{
  font-size:24px;
  color:rgba(37, 36, 50, 0.5);
  margin-top:23px;
 }
 .btn-action{
  font-size:16px;
  font-weight: bold;
  color:#FFFFFF;
  background-color: #4E47FF;
  border:none;
  border-radius:10px;
  padding:12px 36px;
  margin-top:23px;
 }
 .btn-action:hover{
  cursor:progress;
  color:cornflowerblue
 }
 .action-items img{
  border-radius:48px;
 }

 /* Productive Users styles */
 .productive-details{
  display:flex;
  gap:159px;
  justify-content: center;
 }
 .productive-user{
  margin-left:141px;
  margin-right:159px;
  padding:50px 142px;
  border:none;
  border-radius:24px;
  background-color:rgba(78, 71, 255, 0.1)
 }
 .productive-title{
  text-align: center;
  font-size:38px;
  font-weight:bold;
  color:#252432;
 }
 .productive-data{
  font-size:80px;
  font-weight:bold;
  color:#4E47FF;
  margin-top:40px;
  margin-bottom:0;
 }
 .productive-subtitle{
  font-size:20px;
  color:rgba(0, 0, 0, 0.5);
  margin-top:0;
  text-align: center;
 }